# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environments
venv/
.env

# Logs
logs/
*.log

# Docker
Dockerfile*
.dockerignore

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp

# Others
.env.* 